@charset "UTF-8";

img.main{
	width:156px;
	height:156px;
}

li{
	display:inline-block;
	margin-right:20px;
	width:156px
}

div#six{
	vertical-align:top;
	width:1200px;
	margin-left: 20px;
}

input#loginBtn , #join{
	width:70px;
}

input#logout{
    background-color: #BCE55C;
    border: none;
	decoration: none;
    cursor: pointer;

}


div#rightBigDiv{
	display:inline-block;
	vertical-align:top;
	width:370px; 
	margin-left:20px;
}

td{
	text-align:center;
	border-bottom-color: #EAEAEA;
	border-bottom-style: solid;
	font-size:12px;	
}

th{
	border-bottom-color: #9FC93C;
	border-bottom-style: solid;
	color: #9FC93C;
	font-size:12px;
}